/* Universal Styles */

html {
    scroll-behavior: smooth;
    background-color: black;
}

h1 {
    font-family: cursive;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 50px;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    flex-direction: column;
    background-color: whitesmoke;
}

/* Header section */

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: orange;
    right: -300px;
    transition: 600ms ease-out 200ms;
    flex-wrap: wrap;
}

#sidebar.active {
    right: 0;
}

#sidebar a {
    color: black;
    font-weight: bold;
}

#sidebar ul li {
    list-style: none;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .toggle-btn {
    position: absolute;
    top: 30px;
    right: 330px;
}

.toggle-btn span {
    width: 45px;
    height: 4px;
    background: orange;
    display: block;
    margin-top: 4px;
}

/* Main */

p {
    font-size: large;
    letter-spacing: 0.5px;
}

.portrait {
    width: 300px;
    height: 550px;
    border-radius: 5px;
    float: left;
    padding-right: 10px;

}

#about-me {
    background-color: orange;
    border-radius: 5px;
}

#skills h2 {
    text-align: center;
}

#skills-container {
    background-color: cornflowerblue;
    border-radius: 5px;
}

#projects {
    display: inline-flexbox;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: left;
}

#projects h2 {
    margin: 30px;
    padding-top: 50px;
}

#projects ul {
    display: flexbox;
    padding: 10px;
    border-radius: 40px;
    background-color: cornflowerblue;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    letter-spacing: 0.5px;
}

#projects li {
    margin-left: 20px;
}


/* Footer */

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

footer h1 a {
    font-size: 50px;
    border-radius: 50px;
    padding-bottom: 2px;
    text-align: center;
    display: inline-block;
    background-color: black;
    color: orange;
    height: 80px;
    width: 900px
}

#contact {
    padding-bottom: 45px;
}

#contact-me {
    display: flexbox;
    padding: 20px;

}

#contact-me h2 {
    flex-wrap: wrap;
    background-color: orange;
    border-radius: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 5px;
}

#icons {
    background-color: cornflowerblue;
    border-radius: 10px;
}

/* Web responsive */

@media only screen and (max-width: 640px) {
    .about-me-container .portrait .skills-container  {
      flex-direction: column;
    }
  }

